#!/usr/bin/make -f
export BUILD_TYPE=Release

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=$(BUILD_TYPE)

override_dh_auto_install:
	install $$(pwd)/bin/bmath $$(pwd)/debian/bmath/usr/bin
